{
    "registry-mirrors": ["http://28cf50e2.m.daocloud.io"],
    "storage-driver": "overlay2",
    "storage-opts": [
        "overlay2.override_kernel_check=true"
    ],
    "graph": "/data/data/docker"
}
