[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
EnvironmentFile=-{{ kubernetes_conf_dir }}/proxy
ExecStart={{ kubernetes_bin_dir }}/kube-proxy \
                                $KUBE_LOGTOSTDERR \
                                $KUBE_LOG_LEVEL \
                                $KUBE_LOG_DIR \
                                $KUBE_PROXY_ARGS

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
